.context {
    padding: 20px;
}

.editor {
    height: -webkit-fill-available;
}

.textarea {
    background-color: antiquewhite;
    height: -webkit-fill-available !important;
}

.display {
    background-color: antiquewhite;
    height: -webkit-fill-available;
}
