.context {
    padding: 16px;
}

.textarea {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: antiquewhite;
    resize: none;
    height: 72vh !important;
}

.display {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: antiquewhite;
    height: 72vh !important;
    overflow: auto;
}

@media (max-width: 768px) {
    .textarea {
        height: 36vh !important;
    }

    .display {
        height: 36vh !important;
    }
}
