::-webkit-scrollbar
{
  width: 5px;
  height: 5px
}

::-webkit-scrollbar-track
{
  box-shadow:0px 1px 3px rgba(0,0,0,0.3) inset;
  border-radius: 5px;
  background-color: #ddd;
}

::-webkit-scrollbar-thumb
{
  box-shadow:0px 1px 3px rgba(0,0,0,0.3) inset;
  border-radius: 5px;
  background-color: #aaa;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}
